In [1]:
import numpy as np
import pandas as pd
import scanpy as sc
import h5py

In [2]:
import scripro

In [3]:
import anndata
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
import scanpy as sc
import warnings
warnings.filterwarnings("ignore")

In [ ]:
'''
h5 = h5py.File('/fs/home/xuyunfan/data/orf/rnaqc.h5', 'r')
adata = diopy.input.h5_to_adata(h5 = h5, assay_name='RNA')
h5.close()
adata.write_h5ad("/fs/home/xuyunfan/data/orf/rnaqc.h5ad")
'''

In [5]:
#rna = sc.read_h5ad('/fs/home/xuyunfan/data/orf/rna.h5ad')

In [4]:
rna = sc.read_h5ad('/fs/home/changzhanhe/Project/Analysis/cuilian/PN23061305.diff_PRO.h5ad')

In [6]:
rna.obs

,orig.ident,nCount_RNA,nFeature_RNA,perturbations,sgRNA_num,replicate,percent.mt,S.Score,G2M.Score,Phase,old.ident
index,,,,,,,,,,,
AAACCTGAGAGGGCTT,OverCITE-seq,15976.0,3700,multiple,9.0,1,1.245618,-0.534351,-2.766955,G1,OverCITE-seq
AAACCTGTCAGCGACC,OverCITE-seq,9264.0,2746,DUPD1,1.0,1,1.273748,-0.602432,-1.194625,G1,OverCITE-seq
AAACGGGAGATGGGTC,OverCITE-seq,11215.0,3008,multiple,5.0,1,1.016496,-0.454391,-2.085678,G1,OverCITE-seq
AAACGGGCAACTGCTA,OverCITE-seq,5540.0,2019,DUPD1,1.0,1,1.245487,-0.264306,-0.942701,G1,OverCITE-seq
AAACGGGCAGTTTACG,OverCITE-seq,7866.0,2233,multiple,2.0,1,2.555301,-0.592195,-1.514250,G1,OverCITE-seq
...,...,...,...,...,...,...,...,...,...,...,...
TTTGGTTGTGCAACGA,OverCITE-seq,5303.0,2070,GPD1,1.0,1,2.149727,0.054559,0.593555,G2M,OverCITE-seq
TTTGGTTTCCCTCTTT,OverCITE-seq,9401.0,2756,AHNAK,1.0,1,3.627274,-0.920513,1.637025,G2M,OverCITE-seq
TTTGGTTTCCGTACAA,OverCITE-seq,10578.0,3134,multiple,5.0,1,2.996786,-1.127966,0.407107,G2M,OverCITE-seq
TTTGTCAGTCCATGAT,OverCITE-seq,8016.0,2524,multiple,3.0,1,1.397206,-0.050166,-1.171898,G1,OverCITE-seq
TTTGTCATCGTTACAG,OverCITE-seq,6407.0,2202,multiple,2.0,1,1.888559,0.244009,0.002165,S,OverCITE-seq

In [11]:
barcode = pd.read_csv('/fs/home/xuyunfan/data/orf/sg_lib_all.txt',sep = ' ',index_col=0)

In [12]:
barcode=barcode[barcode.barcode.isin(['ATF6B', 'BATF', 'FOSB', 'NFYB'])]

In [16]:
barcode[barcode.barcode == 'BATF']

                 barcode  gene
cell
AAGACCTAGGAGCGAG    BATF  BATF
AAGTCTGCAGTAGAGC    BATF  BATF
AATCGGTCATGCCTTC    BATF  BATF
ACGGCCACATCGATGT    BATF  BATF
ACGGGCTCAAGGTTCT    BATF  BATF
...                  ...   ...
TCTATTGAGTAGGTGC    BATF  BATF
TGAAAGAGTTGGACCC    BATF  BATF
TGACAACAGTTGTAGA    BATF  BATF
TGCACCTCATCTCGCT    BATF  BATF
TTGCCGTTCTGCAGTA    BATF  BATF

[391 rows x 2 columns]

In [17]:
rna.var_names_make_unique()

In [18]:
test_data = scripro.Ori_Data(rna,Cell_num=50)

In [22]:
test_data.adata.obs.loc[barcode[barcode.barcode == 'BATF'].index,:]

,orig.ident,nCount_RNA,nFeature_RNA,perturbations,sgRNA_num,replicate,percent.mt,S.Score,G2M.Score,Phase,old.ident,leiden,new_leiden
cell,,,,,,,,,,,,,
AAGACCTAGGAGCGAG,OverCITE-seq,20393.0,4410,BATF,1.0,1,0.966018,-1.623809,-0.568362,G1,OverCITE-seq,1,1_5
AAGTCTGCAGTAGAGC,OverCITE-seq,14295.0,3674,BATF,1.0,1,0.797482,-0.744881,-0.892076,G1,OverCITE-seq,1,1_12
AATCGGTCATGCCTTC,OverCITE-seq,18210.0,3934,BATF,1.0,1,1.757276,-1.990547,0.693603,G2M,OverCITE-seq,1,1_0
ACGGCCACATCGATGT,OverCITE-seq,11105.0,2984,BATF,1.0,1,1.521837,-0.470871,-0.883778,G1,OverCITE-seq,6,6_2
ACGGGCTCAAGGTTCT,OverCITE-seq,8704.0,2499,BATF,1.0,1,2.516085,-0.903914,-1.327982,G1,OverCITE-seq,3,3_3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCTATTGAGTAGGTGC,OverCITE-seq,14563.0,3570,multiple,8.0,1,2.087482,-0.534292,-0.282528,G1,OverCITE-seq,2,2_14
TGAAAGAGTTGGACCC,OverCITE-seq,9054.0,2538,multiple,4.0,1,1.778220,-1.281999,-0.088324,G1,OverCITE-seq,2,2_3
TGACAACAGTTGTAGA,OverCITE-seq,5486.0,1941,multiple,2.0,1,1.403573,-0.103068,-1.025974,G1,OverCITE-seq,0,0_5
TGCACCTCATCTCGCT,OverCITE-seq,6724.0,2042,multiple,3.0,1,1.754908,-0.151473,-0.816378,G1,OverCITE-seq,2,2_5
TTGCCGTTCTGCAGTA,OverCITE-seq,7056.0,2519,multiple,4.0,1,2.806122,-0.597151,1.034812,G2M,OverCITE-seq,2,2_11

In [34]:
%%time
test_data.get_positive_marker_gene_parallel(cores=4)

CPU times: user 2.34 s, sys: 3.51 s, total: 5.85 s
Wall time: 8.36 s

In [35]:
rna_seq_data = scripro.SCRIPro_RNA(8,'hg38',test_data,assays=['Direct','DNase','H3K27ac'])

In [36]:
rna_seq_data.cal_ISD_cistrome()

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 79/79 [28:43<00:00, 21.82s/it]

In [37]:
rna_seq_data.get_P_value_matrix()

In [38]:
rna_seq_data.get_chip_matrix()

In [39]:
rna_seq_data.P_value_matrix

factor,MYB,GATA3,MAF,SUPT5H,CDK9,TAF1,BRD4,NELFA,RELA,POLR2A,...,FOXF2,VENTX,FOXF1,ZNF26,GFI1,UNCX,TBX10,FOXQ1,SOX14,HOXD3
5_4,1.000000,0.950441,0.889272,0.826292,0.816398,0.799173,0.790451,0.782227,0.776002,0.767197,...,2.991670e-04,0.000204,0.000202,0.000190,0.000154,0.000100,0.000093,0.000046,0.000019,0.000000
2_5,0.423549,0.305588,0.577949,1.000000,0.690262,0.751518,0.692068,0.941188,0.622930,0.802245,...,5.292598e-08,0.000137,0.000042,0.000151,0.000031,0.000022,0.000046,0.000049,0.000012,0.000301
3_11,0.995896,1.000000,1.000000,0.678718,1.000000,0.680362,0.851497,0.446302,0.829162,1.000000,...,2.188176e-03,0.003095,0.000054,0.001037,0.011935,0.000323,0.016460,0.001620,0.002843,0.000765
1_5,0.372473,0.310104,0.501848,1.000000,0.607690,0.653274,0.621251,0.875515,0.552877,0.748440,...,2.127871e-04,0.000443,0.000501,0.001259,0.003317,0.000121,0.000050,0.000481,0.003045,0.000710
2_9,0.682637,0.635707,0.877515,0.906386,0.830918,0.911196,1.000000,0.955989,0.904541,0.898137,...,3.164823e-07,0.000001,0.000007,0.001799,0.000195,0.000033,0.000070,0.000002,0.000005,0.002151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3_9,1.000000,1.000000,1.000000,0.547021,1.000000,0.615710,0.915862,0.251093,0.631535,1.000000,...,1.404890e-02,0.050004,0.015510,0.002997,0.066844,0.009437,0.053935,0.008981,0.010707,0.028908
2_6,1.000000,1.000000,0.906355,0.517903,0.963279,0.749288,0.824395,0.307477,0.901141,0.978504,...,1.430263e-06,0.000779,0.006382,0.004170,0.074399,0.000005,0.066695,0.017283,0.014553,0.000184
0_10,1.000000,1.000000,0.947243,0.823717,1.000000,0.563905,0.833115,0.298295,0.796398,1.000000,...,8.366487e-02,0.010288,0.035479,0.001734,0.023366,0.029853,0.007666,0.006911,0.033850,0.007576
0_9,1.000000,1.000000,1.000000,0.812260,0.980953,0.769441,0.766444,0.503540,0.826228,1.000000,...,3.736574e-02,0.002551,0.006561,0.000067,0.001427,0.015684,0.016434,0.007802,0.016763,0.007011
0_6,1.000000,1.000000,0.993265,0.875991,0.994410,0.651202,0.843044,0.509899,0.809981,1.000000,...,7.186719e-02,0.001819,0.002963,0.008573,0.006104,0.000387,0.000086,0.000103,0.024559,0.000169

In [40]:
%%time
rna_seq_data.get_tf()

CPU times: user 2min 14s, sys: 177 ms, total: 2min 14s
Wall time: 2min 15s

In [1]:
rna_seq_data.tf_score

NameError: name 'rna_seq_data' is not defined

In [42]:
test_data.cellgroup

                 new_leiden
index
AAACCTGAGAGGGCTT        6_0
AAACCTGTCAGCGACC        2_1
AAACGGGAGATGGGTC        7_1
AAACGGGCAACTGCTA        2_9
AAACGGGCAGTTTACG        2_9
...                     ...
TTTGGTTGTGCAACGA        0_7
TTTGGTTTCCCTCTTT        0_4
TTTGGTTTCCGTACAA        0_5
TTTGTCAGTCCATGAT       3_11
TTTGTCATCGTTACAG        0_9

[4312 rows x 1 columns]

In [50]:
all_cell = pd.merge(test_data.cellgroup,rna_seq_data.tf_score,left_on='new_leiden',right_index=True).iloc[:,1:]

In [74]:
all_cell.loc['AAGACCTAGGAGCGAG',:].sort_values(ascending = False)['BATF']

2.6469945867199123e-05

In [85]:
barcode2

                 barcode   gene
cell
AAATGCCAGTGGTAAT   ATF6B  ATF6B
AAGACCTAGGAGCGAG    BATF   BATF
AAGGAGCCAATCTGCA   ATF6B  ATF6B
AAGGCAGAGGTGCAAC   ATF6B  ATF6B
AAGTCTGCAGTAGAGC    BATF   BATF
...                  ...    ...
TTCGGTCGTGATAAGT   ATF6B  ATF6B
TTCTCCTTCTGAGTGT   ATF6B  ATF6B
TTGACTTAGAAGGGTA   ATF6B  ATF6B
TTGCCGTTCTGCAGTA   ATF6B  ATF6B
TTGCCGTTCTGCAGTA    BATF   BATF

[746 rows x 2 columns]

In [91]:
all_cell.rank()

,ADNP,AFF1,AFF4,AGO1,AHR,AIRE,ALX1,ALX3,ALX4,ANHX,...,ZSCAN22,ZSCAN23,ZSCAN29,ZSCAN30,ZSCAN31,ZSCAN4,ZSCAN5A,ZSCAN5C,ZXDB,ZXDC
index,,,,,,,,,,,,,,,,,,,,,
AAACCTGAGAGGGCTT,3957.0,2156.5,3592.0,2156.5,3142.0,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
AATCGGTTCATATCGG,3957.0,2156.5,3592.0,2156.5,3142.0,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
ACACCGGAGTCACGCC,3957.0,2156.5,3592.0,2156.5,3142.0,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
ACCGTAAGTCACCTAA,3957.0,2156.5,3592.0,2156.5,3142.0,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
ACGTCAAGTCAATGTC,3957.0,2156.5,3592.0,2156.5,3142.0,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TGACTTTAGTTAGCGG,2038.5,2156.5,2399.5,2156.5,1530.5,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
TGCTGCTAGAAGGACA,2038.5,2156.5,2399.5,2156.5,1530.5,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
TGGCCAGAGGTGCACA,2038.5,2156.5,2399.5,2156.5,1530.5,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
TGGTTAGCATGTCGAT,2038.5,2156.5,2399.5,2156.5,1530.5,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5
TTGTAGGTCGGTTCGG,2038.5,2156.5,2399.5,2156.5,1530.5,2156.5,2156.5,2156.5,2156.5,2156.5,...,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5,2156.5

In [110]:
pd.merge(barcode,all_cell,right_index=True,left_index=True)

,barcode,gene,ADNP,AFF1,AFF4,AGO1,AHR,AIRE,ALX1,ALX3,...,ZSCAN22,ZSCAN23,ZSCAN29,ZSCAN30,ZSCAN31,ZSCAN4,ZSCAN5A,ZSCAN5C,ZXDB,ZXDC
cell,,,,,,,,,,,,,,,,,,,,,
AAACCTGAGAGCCTAG,CXCL12,CXCL12,3.106887e-03,0.0,0.030343,0.0,0.003997,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGAGCCTAG,DUPD1,DUPD1,3.106887e-03,0.0,0.030343,0.0,0.003997,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGAGGGCTT,CALML3,CALML3,1.826711e-02,0.0,0.089347,0.0,0.010264,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGAGGGCTT,CLIC1,CLIC1,1.826711e-02,0.0,0.089347,0.0,0.010264,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AAACCTGAGAGGGCTT,DBI,DBI,1.826711e-02,0.0,0.089347,0.0,0.010264,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TTTGTCATCAAAGACA,CDK1,CDK1,3.938731e-14,0.0,0.075970,0.0,0.003274,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTCATCAAAGACA,CLIC1,CLIC1,3.938731e-14,0.0,0.075970,0.0,0.003274,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTCATCAAAGACA,DUPD1,DUPD1,3.938731e-14,0.0,0.075970,0.0,0.003274,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTCATCGTTACAG,CXCL12,CXCL12,4.383208e-03,0.0,0.063539,0.0,0.005122,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TTTGTCATCGTTACAG,DUPD1,DUPD1,4.383208e-03,0.0,0.063539,0.0,0.005122,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
pd.merge(barcode2,all_cell.loc[:,['ATF6B', 'BATF', 'FOSB', 'NFYB']],right_index=True,left_index=True)

,barcode,gene,ATF6B,BATF,FOSB,NFYB
cell,,,,,,
AAACGGGAGATGGGTC,ATF6B,ATF6B,7.475385e-02,0.669665,3.549681e-04,4.925935e-02
AAAGATGGTGGTCCGT,BATF,BATF,3.409274e-02,0.016719,2.561074e-05,4.705997e-02
AAAGCAACAAGCGAGT,BATF,BATF,3.163648e-03,0.189825,1.293628e-07,1.945421e-02
AAAGTAGTCAGTTCGA,ATF6B,ATF6B,6.103525e-02,0.082568,1.264188e-04,1.563107e-02
AAAGTAGTCCAAGCCG,BATF,BATF,1.711950e-06,0.000343,6.624443e-06,1.940874e-02
...,...,...,...,...,...,...
TTTATGCTCGTCTGAA,BATF,BATF,3.163648e-03,0.189825,1.293628e-07,1.945421e-02
TTTCCTCAGGCTCTTA,FOSB,FOSB,1.585241e-05,0.000026,3.328328e-06,1.593979e-07
TTTGCGCCAAGGCTCC,ATF6B,ATF6B,6.766850e-05,0.067047,1.028717e-07,2.616185e-02
TTTGCGCGTAGAAGGA,BATF,BATF,6.880931e-02,0.581405,3.345334e-08,4.210237e-02
TTTGTCACAGGTGCCT,ATF6B,ATF6B,1.387622e-07,0.268081,1.142694e-07,2.636626e-02

In [94]:
t1 = pd.merge(barcode2,all_cell.rank().loc[:,['ATF6B', 'BATF', 'FOSB', 'NFYB']],right_index=True,left_index=True)

In [99]:
t1[t1.barcode == 'BATF'].loc[:,'BATF'].mean()

2120.433503836317

In [100]:
t1[t1.barcode == 'ATF6B'].loc[:,'ATF6B'].mean()

2029.516129032258

In [101]:
t1[t1.barcode == 'FOSB'].loc[:,'FOSB'].mean()

2464.78

In [102]:
t1[t1.barcode == 'NFYB'].loc[:,'NFYB'].mean()

2118.432926829268